:root {
    --background: #212121;
    --content: #333333;
    --accent-color: #660066;
    --highlight-color: #FF9900;
    --hero-section: linear-gradient(to bottom, #333333, #212121);
    --hero-section: linear-gradient(to bottom, #212121, #333333);
    --text-heading: #ffffff;
    --body-text: #cccccc;
    --cations: #aaaaaa;
}
 @font-face {
    font-family: Parkinsans var;
    src: url(/fonts/Parkinsans-VariableFont_wght.ttf);
 }

 @font-face {
    font-family: Parkinsans regular;
    src: url(/fonts/Parkinsans-Regular.ttf)
 }

 @font-face {
    font-family: Parkinsans light;
    src: url(/fonts/Parkinsans-Light.ttf);
 }

 @font-face {
    font-family: Parkinsans Medium;
    src: url(/fonts/Parkinsans-Medium.ttf);
 }

 @font-face {
    font-family: Parkinsans Semibold;
    src: url(/fonts/Parkinsans-SemiBold.ttf);
 }

 @font-face {
    font-family: Parkinsans Bold;
    src: url(/fonts/Parkinsans-Bold.ttf);
 }

 @font-face {
    font-family: Parkinsans Extrabold;
    src: url(/fonts/Parkinsans-ExtraBold.ttf);
 }

body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    font-family: Parkinsans regular;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    overflow-y: scroll;
}

header nav {
    width: 100%;
    padding: 0 10%;
    align-items: center;
}

header nav,
header nav .links,
header nav ul {
    display: flex;
    justify-content: space-between;
    color: var(--text-heading);
    align-items: center;
}

header nav h2 {
    color: var(--text-heading);
    font-family: Parkinsans Bold;
}

header nav h2 span {
    color: var(--highlight-color);
}

header nav .links,
header nav ul {
    gap: 40px;
} 

header nav ul {
    list-style: none;
}

header nav ul li:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

header nav .links input {
    height: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--cations);
    color: var(--body-text);
    font-family: Parkinsans var;
    width: 200px;
}

header nav .links input:focus {
    border-bottom: 1px solid var(--highlight-color);
    outline: none;
}

main {
    margin-top: -50px;
}

main .slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;

}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 10%;
    padding-right: 30%;
    box-sizing: border-box;
    color: var(--body-text);
    text-shadow: 0 5px 10px #0004;

}

.list .item .content .title {
    color: var(--highlight-color);
    font-family: Parkinsans Extrabold;
    font-size: 2.3rem;
    padding-bottom: 30px;
}

.list .item .content .buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.list .item .content .buttons button {
background-color: transparent;
border: none;
}

.list .item .content .buttons .btn1 {
    color: var(--highlight-color);
    font-size: 1.2rem;
    font-family: Parkinsans Medium;
}

.list .item .content .buttons .btn2 img{
    height: 40px;
}

header nav .menu {
    display: none;
}

@media all and (max-width: 918px) {

    header nav .menu {
        display: block;
    }

    nav .menu .open {
        font-size: 1.7rem;
    }

    nav .menu .close {
        position: fixed; 
        top: 50px;
        right: 50px;
        font-size: 1.7rem;
    }

    header nav .links {
        display: block;
        background: var(--background);
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
    }

    /* header nav .links.open {
        display: block;
        background: var(--background);
        flex-direction: column;
        width: 100dvw;
        height: 100dvh;
    } */

    header nav .links ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vh;
        position: relative;
        display: block;
    }

}