:root {
    --background: #212121;
    --content: #333333;
    --content-5: rgba(51, 51, 51, 0.5);
    --accent-color: #660066;
    --highlight-color: #FF9900;
    --hero-section: linear-gradient(to bottom, #333333, #212121);
    --text-heading: #ffffff;
    --body-text: #cccccc;
    --cations: #aaaaaa;
 }
 
 @font-face {
    font-family: Parkinsans var;
    src: url(/fonts/Parkinsans-VariableFont_wght.ttf);
 }
 
 @font-face {
    font-family: Parkinsans regular;
    src: url(/fonts/Parkinsans-Regular.ttf)
 }
 
 @font-face {
    font-family: Parkinsans light;
    src: url(/fonts/Parkinsans-Light.ttf);
 }
 
 @font-face {
    font-family: Parkinsans Medium;
    src: url(/fonts/Parkinsans-Medium.ttf);
 }
 
 @font-face {
    font-family: Parkinsans Semibold;
    src: url(/fonts/Parkinsans-SemiBold.ttf);
 }
 
 @font-face {
    font-family: Parkinsans Bold;
    src: url(/fonts/Parkinsans-Bold.ttf);
 }
 
 @font-face {
    font-family: Parkinsans Extrabold;
    src: url(/fonts/Parkinsans-ExtraBold.ttf);
 }
 
 * {
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 
 body {
    background-color: var(--background);
    font-family: Parkinsans regular;
    overflow-x: hidden;
 }
 
 header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: transparent;
    padding-left: 7%;
    padding-right: 7%;
 }
 
 header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 86%;
    background-color: transparent;
 }
 
 header nav h2 {
    font-family: Parkinsans var;
    color: var(--text-heading);
 }
 
 header nav h2 span {
    color: var(--highlight-color);
 }
 
 header nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
 }
 
 header nav ul li .fa-xmark {
    display: none;
    color: var(--body-text);
 }
 
 header nav ul li {
    color: var(--body-text);
    font-family: Parkinsans var;
 }
 
 header nav span i.fa-magnifying-glass,
 header nav span i.fa-bars {
    display: none;
    color: var(--body-text);
 }
 
 header nav span input {
    background: transparent;
    border: none;
    border-bottom: .5px solid var(--highlight-color);
    outline: none;
    color: var(--body-text);
    font-family: Parkinsans var;
    padding: 2px 3px;
 }
 
 @media (max-width: 930px) {
 
    header nav h2 {
       display: flex;
    }
 
    header nav .close {
       display: none;
    }
 
    header nav .open {
       position: fixed;
       width: 100vw;
       height: 100vh;
       background-color: var(--content);
       top: 0;
       left: 0;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       gap: 80px;
    }
 
    header nav span {
       display: flex;
       flex-direction: row;
       gap: 20px;
    }
 
    header nav span .search-popup.close {
       display: none;
    }
 
    header nav span .search-popup.open {
       position: fixed;
       width: 100vw;
       height: 100vh;
       background-color: var(--content-5);
       top: 0;
       left: 0;
       display: flex;
       justify-content: center;
    }
 
    header nav span .search-popup input {
       position: fixed;
       top: 100px;
       width: 80%;
       max-width: 400px;
       opacity: 1;
    }
 
    header nav span .search-popup i {
       position: fixed;
       top: 40px;
       right: 40px;
       font-size: 1.7rem;
       color: var(--body-text);
       opacity: 1;
    }
 
    header nav span i.fa-magnifying-glass,
    header nav span i.fa-bars {
       display: block;
       color: var(--body-text);
       font-size: 1.4rem;
    }
 
    header nav ul li .fa-xmark {
       display: block;
       position: fixed;
       font-size: 1.7rem;
       top: 40px;
       right: 40px;
       color: var(--body-text);
    }
 
    header nav ul li {
       color: var(--body-text);
       font-size: 1.5rem;
    }
 
 }